:root {
  --font-japanese: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  --text-main: rgba(0, 0, 0, 0.88);
  --text-secondary: rgba(0, 0, 0, 0.65);
  --primary-blue-rgb: 22, 119, 255;
  --primary-blue: rgb(22, 119, 255);
}

html {
  font-family: var(--font-japanese);
  color: var(--text-main);
}
